// ==========================================================================
// Container
// ==========================================================================
.o-container {
	position: relative;
	margin: 0 auto;
	
	@media (max-width: $to-small) {
		padding-left: $unit-mobile;
		padding-right: $unit-mobile;
	}

	@media (min-width: $from-small) {
		padding-right: rem($padding);
		padding-left: rem($padding);
		max-width: rem($max-width) + (rem($padding) * 2);
	}

	&.-small {
		@media (min-width: $from-small) {
			max-width: rem(1200px) + (rem($padding) * 2);
		}
	}
}

.o-page {
	overflow: hidden;
} 