// ==========================================================================
// Section
// ==========================================================================
.o-section {
	&.-color {
		background-color: $main-color;
		color: $white;
	}

	&.-white {
		background-color: $white;
	}
}
