    <footer class="o-section -color">
        <div class="o-container">
            <div class="c-footer">
                <p class="c-footer_text u-slideInRightSmall js-wow" data-wow-delay="0.1s">Propulsé par Locomotive.ca</p>
                <a class="c-footer_logo u-zoomIn js-wow" href="http://locomotive.ca" data-wow-delay="0.05s">
                    <svg class="c-footer_logo_image" role="img"><use xlink:href="images/dist/svgs.svg#locomotive"></use></svg>
                </a>
                <p class="c-footer_text u-slideInLeftSmall js-wow" data-wow-delay="0.1s">Tous droits réservés © 2015</p>
            </div>
        </div>
    </footer>

</div>

<div class="o-overlay js-nav-button"></div>
