{% extends "base.html" %}

{% block main %}
<main>
    <section class="c-home o-section -color">
        <div class="o-container">
            <div class="c-home_content">
                <h1 class="o-h1 u-fadeInUpSmall js-wow" data-wow-delay="0.8s">{{ lang.home.title|safe }}
                <p class="o-text u-fadeInUpSmall js-wow" data-wow-delay="1.0s">
                    {{ lang.home.text|safe }}
                </p>
                <a class="o-button -white -arrow u-fadeInUpSmall js-wow js-scrollto" href="#quest-ce-que-memo" data-wow-delay="1.3s">
                    <span class="o-button_arrow">
                        <svg class="o-button_arrow_icon" role="img"><use xlink:href="images/dist/svgs.svg#arrow-down"></use></svg>
                    </span>
                    {{ lang.home.button }}
                </a>
            </div>
        </div>
        <div class="c-home_devices">
            <div class="o-watch u-slideInDownSmall js-wow" data-wow-delay="1.3s">
                <img class="o-watch-image" src="images/watch.png">
                <img class="o-watch-gif u-fadeIn js-wow" src="images/watch.gif" data-wow-delay="1.8s">
            </div>

            <div class="o-ipad u-slideInRight js-wow" data-wow-delay="1.4s">
                <img class="o-ipad-image" src="images/ipad.png">
                <img class="o-ipad-gif u-fadeIn js-wow" src="images/ipad.gif" data-wow-delay="2s">
            </div>

            <div class="o-iphone u-slideInUpSmall js-wow" data-wow-delay="1.2s">
                <img class="o-iphone-image" src="images/iphone.png">
                <img class="o-iphone-gif u-fadeIn js-wow" src="images/iphone.gif" data-wow-delay="2.2s">
            </div>
        </div>
    </section>

    <section class="c-what o-section" id="quest-ce-que-memo">
        <div class="o-container -small">
            <div class="c-what_content">
                <div class="c-what_text">
                    <h1 class="o-h1 -color">{{ lang.what.title|safe }}
                    <div class="o-text">
                        {{ lang.what.text|safe }}
                    </div>
                    <a class="o-button -white -arrow js-scrollto" href="#caracteristiques">
                        <span class="o-button_arrow">
                            <svg class="o-button_arrow_icon" role="img"><use xlink:href="images/dist/svgs.svg#arrow-down"></use></svg>
                        </span>
                        {{ lang.what.button }}
                    </a>
                </div>
                <div class="c-what_circles">
                    <div class="c-what_circle -text">
                        <div class="c-circle-icon">
                            <div class="c-circle-icon_background" style="background-image: url('images/circle-text_background.jpg')"></div>
                            <div class="c-circle-icon_border u-bounceIn js-wow"></div>
                            <svg class="c-circle-icon_image" role="img"><use xlink:href="images/dist/svgs.svg#icon-text"></use></svg>
                        </div>
                    </div>
                    <div class="c-what_circle -voice">
                        <div class="c-circle-icon">
                            <div class="c-circle-icon_background" style="background-image: url('images/circle-voice_background.jpg')"></div>
                            <div class="c-circle-icon_border u-bounceIn js-wow" data-wow-delay="0.1s"></div>
                            <svg class="c-circle-icon_image" role="img"><use xlink:href="images/dist/svgs.svg#icon-voice"></use></svg>
                        </div>
                    </div>
                    <div class="c-what_circle -email">
                        <div class="c-circle-icon">
                            <div class="c-circle-icon_background" style="background-image: url('images/circle-email_background.jpg')"></div>
                            <div class="c-circle-icon_border u-bounceIn js-wow" data-wow-delay="0.2s"></div>
                            <svg class="c-circle-icon_image" role="img"><use xlink:href="images/dist/svgs.svg#icon-email"></use></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="o-section -color">
        <div class="c-interests">
            <div class="o-container">
                <h1 class="o-h1">Le citoyen ciblé selon <span class="o-h_underline">ses intérêts</span></h1>
                <ul class="c-interests_list">
                    <li class="c-interests_item">
                        <div class="c-interests_category">
                            <div class="u-zoomIn js-wow" data-wow-delay="0.0s">
                                <svg class="c-interests_icon" role="img"><use xlink:href="images/dist/svgs.svg#icon-place"></use></svg>
                            </div>
                            <p class="c-interests_label">Vie municipale</p>
                        </div>
                    </li>
                    <li class="c-interests_item">
                        <div class="c-interests_category">
                            <div class="u-zoomIn js-wow" data-wow-delay="0.05s">
                                <svg class="c-interests_icon" role="img"><use xlink:href="images/dist/svgs.svg#icon-leaf"></use></svg>
                            </div>
                            <p class="c-interests_label">Environnement</p>
                        </div>
                    </li>
                    <li class="c-interests_item">
                        <div class="c-interests_category">
                            <div class="u-zoomIn js-wow" data-wow-delay="0.10s">
                                <svg class="c-interests_icon" role="img"><use xlink:href="images/dist/svgs.svg#icon-art"></use></svg>
                            </div>
                            <p class="c-interests_label">Culture</p>
                        </div>
                    </li>
                    <li class="c-interests_item">
                        <div class="c-interests_category">
                            <div class="u-zoomIn js-wow" data-wow-delay="0.15s">
                                <svg class="c-interests_icon" role="img"><use xlink:href="images/dist/svgs.svg#icon-garbage"></use></svg>
                            </div>
                            <p class="c-interests_label">Collectes</p>
                        </div>
                    </li>
                    <li class="c-interests_item">
                        <div class="c-interests_category">
                            <div class="u-zoomIn js-wow" data-wow-delay="0.20s">
                                <svg class="c-interests_icon" role="img"><use xlink:href="images/dist/svgs.svg#icon-warning"></use></svg>
                            </div>
                            <p class="c-interests_label">Urgences</p>
                        </div>
                    </li>
                    <li class="c-interests_item">
                        <div class="c-interests_category">
                            <div class="u-zoomIn js-wow" data-wow-delay="0.25s">
                                <svg class="c-interests_icon" role="img"><use xlink:href="images/dist/svgs.svg#icon-date"></use></svg>
                            </div>
                            <p class="c-interests_label">Événements</p>
                        </div>
                    </li>
                    <li class="c-interests_item">
                        <div class="c-interests_category">
                            <div class="u-zoomIn js-wow" data-wow-delay="0.30s">
                                <svg class="c-interests_icon" role="img"><use xlink:href="images/dist/svgs.svg#icon-snow"></use></svg>
                            </div>
                            <p class="c-interests_label">Déneigement</p>
                        </div>
                    </li>
                    <li class="c-interests_item">
                        <div class="c-interests_category">
                            <div class="u-zoomIn js-wow" data-wow-delay="0.35s">
                                <svg class="c-interests_icon" role="img"><use xlink:href="images/dist/svgs.svg#icon-cone"></use></svg>
                            </div>
                            <p class="c-interests_label">Construction</p>
                        </div>
                    </li>
                    <li class="c-interests_item">
                        <div class="c-interests_category">
                            <div class="u-zoomIn js-wow" data-wow-delay="0.40s">
                                <svg class="c-interests_icon" role="img"><use xlink:href="images/dist/svgs.svg#icon-bike"></use></svg>
                            </div>
                            <p class="c-interests_label">Pistes cyclables</p>
                        </div>
                    </li>
                    <li class="c-interests_item">
                        <div class="c-interests_category">
                            <div class="u-zoomIn js-wow" data-wow-delay="0.45s">
                                <svg class="c-interests_icon" role="img"><use xlink:href="images/dist/svgs.svg#icon-car"></use></svg>
                            </div>
                            <p class="c-interests_label">Circulation</p>
                        </div>
                    </li>
                    <li class="c-interests_item">
                        <div class="c-interests_category">
                            <div class="u-zoomIn js-wow" data-wow-delay="0.50s">
                                <svg class="c-interests_icon" role="img"><use xlink:href="images/dist/svgs.svg#icon-p"></use></svg>
                            </div>
                            <p class="c-interests_label">Stationnements</p>
                        </div>
                    </li>
                    <li class="c-interests_item">
                        <div class="c-interests_category">
                            <div class="u-zoomIn js-wow" data-wow-delay="0.55s">
                                <svg class="c-interests_icon" role="img"><use xlink:href="images/dist/svgs.svg#icon-skate"></use></svg>
                            </div>
                            <p class="c-interests_label">Patinoires</p>
                        </div>
                    </li>
                    <li class="c-interests_item">
                        <div class="c-interests_category">
                            <div class="u-zoomIn js-wow" data-wow-delay="0.60s">
                                <svg class="c-interests_icon" role="img"><use xlink:href="images/dist/svgs.svg#icon-ball"></use></svg>
                            </div>
                            <p class="c-interests_label">Équipes sportives</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="o-section" id="caracteristiques">
        <div class="c-about">
            <div class="o-container -small">
                <section class="c-about_section">
                    <div class="c-about_text">
                        <h1 class="o-h1 -color">Un outil simple <br>à l’ère de son temps</h1>
                        <p class="o-text">
                            Plusieurs organisations ont adhéré à memo dans le but d'offrir une communication personnalisée, moderne et conviviale à ses citoyens. Serez-vous la prochaine ville à entamer le pas?
                        </p>
                        <strong>Caractéristiques unique à memo</strong>
                        <ul>
                            <li>
                                <span class="u-color">Plateforme adaptative (Responsive)</span>
                            </li>
                            <li>
                                <span class="u-color">Utilisation des meilleures pratiques de messagerie (CRTC)</span>
                            </li>
                            <li>
                                <span class="u-color">Capacité de 50 000 textos à l’heure</span>
                            </li>
                            <li>
                                <span class="u-color">Envois de courriels gratuits en tout temps</span>
                            </li>
                            <li>
                                <span class="u-color">Appels vocaux automatisés facturés à l’utilisation</span>
                            </li>
                            <li>
                                <span class="u-color">Environnement Nuage (Cloud)</span>
                            </li>
                            <li>
                                <span class="u-color">Et beaucoup plus...</span>
                            </li>
                        </ul>
                    </div>
                    <div class="c-about_image">
                        <div class="c-about_iphone u-slideInRightDown js-wow" data-wow-delay="0.05s">
                            <img src="images/iphone-angle.png">
                        </div>
                    </div>
                </section>
                <section class="c-about_section -reverse">
                    <div class="c-about_text">
                        <h1 class="o-h1 -color">Une interface <br>de gestion efficace</h1>
                        <p class="o-text">
                            Rien n’a été laissé au hasard dans la plateforme de messagerie. Un module de recherche intégré, des gabarits personnalisables et des statistiques permettent aux administrateurs un contrôle absolu et une planification en temps réel de leur interventions. Le tout propulsé par Charcoal, un gestionnaire de contenu conçu par Locomotive spécifiquement pour memo.
                        </p>
                        <a class="o-button -white -arrow js-scrollto" href="#clients">
                            <span class="o-button_arrow">
                                <svg class="o-button_arrow_icon" role="img"><use xlink:href="images/dist/svgs.svg#arrow-down"></use></svg>
                            </span>
                            Nos clients
                        </a>
                    </div>
                    <div class="c-about_image">
                        <div class="c-about_charcoal_macbook">
                            <img class="u-slideInLeft js-wow" src="images/charcoal-macbook.png">
                        </div>
                        <div class="c-about_charcoal_iphone">
                            <img class="u-slideInUpSmall js-wow" src="images/charcoal-iphone.png">
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <section class="o-section -color">
        <div class="c-quote">
            <div class="o-container">
                <blockquote class="c-quote_content">
                    <p class="o-h2">
                        Memo révolutionne la façon dont les villes <br>et les municipalités <span class="o-h_underline">communiquent</span><br> <span class="o-h_underline">avec leurs citoyens</span>
                    </p>
                    <div class="c-quote_picture u-zoomIn js-wow" style="background-image: url('images/jeff.jpg');" data-wow-delay="0.1s"></div>
                    <p class="c-quote_author">
                        Jean-François <br>Chainé
                    </p>
                    <p class="c-quote_role">
                        Vice-président chez Locomotive
                    </p>
                    <a href="http://locomotive.ca">
                        <svg class="c-quote_logo" role="img"><use xlink:href="images/dist/svgs.svg#locomotive"></use></svg>
                    </a>
                </blockquote>
            </div>
        </div>
    </section>

    <section class="o-section -white" id="clients">
        <div class="c-clients">
            <div class="o-container">
                <ul class="c-clients_list">
                    <li class="c-clients_item">
                        <a class="c-clients_link u-fadeIn js-wow" href="http://www.textotacl.com/" data-wow-delay="0.05s"><img class="c-clients_image" src="images/client_01.png"></a>
                    </li>
                    <li class="c-clients_item">
                        <a class="c-clients_link u-fadeIn js-wow" href="http://www.smsplumobile.com/" data-wow-delay="0.10s"><img class="c-clients_image" src="images/client_02.png"></a>
                    </li>
                    <li class="c-clients_item">
                        <a class="c-clients_link u-fadeIn js-wow" href="http://www.govillemo.ca/" data-wow-delay="0.15s"><img class="c-clients_image" src="images/client_03.png"></a>
                    </li>
                    <li class="c-clients_item">
                        <a class="c-clients_link u-fadeIn js-wow" href="http://www.alertescitoyennes.com/montreal/" data-wow-delay="0.20s"><img class="c-clients_image" src="images/client_04.png"></a>
                    </li>
                    <li class="c-clients_item">
                        <a class="c-clients_link u-fadeIn js-wow" href="http://alertes-citoyens.ville.st-augustin.qc.ca/" data-wow-delay="0.25s"><img class="c-clients_image" src="images/client_05.png"></a>
                    </li>
                    <li class="c-clients_item">
                        <a class="c-clients_link u-fadeIn js-wow" href="http://stationnementdenuit.ca/troisrivieres/" data-wow-delay="0.30s"><img class="c-clients_image" src="images/client_06.png"></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="o-section -gray" id="essayer-memo">
        <div class="o-container -small">
            <div class="c-contact">
                <div class="c-contact_item">
                    <h1 class="o-h1 -color">Vous représentez <br>une ville et désirez faire <br>l’essai de memo?</h1>
                    <p>
                        Contactez dès maintenant un de nos représentants pour en connaître davantage sur ce service et pour obtenir une demo gratuite. Coordonnez vos opérations en temps réel et rehaussez l'expérience globale de votre ville pour vos citoyens avec memo.
                    </p>
                </div>
                <div class="c-contact_item">
                    <div class="c-card u-slideInUp js-wow">
                        <div class="c-card_picture" style="background-image: url('images/jeff.jpg');"></div>
                        <div class="c-card_content">
                            <p class="c-card_name">Jean-François Chainé</p>
                            <p class="c-card_role">Vice-Président</p>
                            <hr>
                            <p class="c-card_number">(514) 266 6393</p>
                            <a class="c-card_email" href="mailto:jeff@locomotive.ca">jeff@locomotive.ca</a>
                        </div>
                    </div>
                    <div class="c-card u-slideInUp js-wow" data-wow-delay="0.2s">
                        <div class="c-card_picture" style="background-image: url('images/chuck.jpg');"></div>
                        <div class="c-card_content">
                            <p class="c-card_name">Charles Dumas</p>
                            <p class="c-card_role">Développement des affaires</p>
                            <hr>
                            <p class="c-card_number">(514) 705 4888</p>
                            <a class="c-card_email" href="mailto:charles@locomotive.ca">charles@locomotive.ca</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
