// ==========================================================================
// What
// ==========================================================================
.c-what {
	padding: 90px 0;

	@media (min-width: $from-small) and (max-width: $to-medium) {
		padding: rem(220px) 0;
	}

	@media (min-width: $from-medium) {
		margin-top: rem(130px);
		padding: rem(230px) 0;
	}
}

.c-what_content {
	position: relative;

	@media (min-width: $from-small) {
		text-align: right;
	}
}

.c-what_text {
	display: inline-block;
	text-align: left;
	max-width: rem(420px);

	@media (min-width: $from-small) and (max-width: $to-medium) {
		margin-top: rem(120px);
	}

	@media (min-width: $from-medium) {
		margin-top: rem(140px);
	}
}

.c-what_circles {
	@media (max-width: $to-small) {
		margin-top: 30px;
		width: 180px;
	}
}

.c-what_circle {
	&:nth-child(1) {
		.c-circle-icon_image {
			margin-left: em(10px);
		}
	}

	@media (max-width: $to-small) {
		margin-top: 30px;
	}

	/* @media (min-width: $from-small) and (max-width: $to-medium) {
		margin-top: 60px;
	} */

	@media (max-width: $to-small) {
		display: inline-block;
		font-size: 5px;
	}

	@media (min-width: $from-small) {
		position: absolute;
		left: 0;

		&.-text {
			top: 0;
		}

		&.-voice {
			top: em(180px);
			left: em(300px);
		}

		&.-email {
			top: em(360px);
		}
	}

	@media (min-width: $from-small) and (max-width: $to-medium) {
		font-size: 8.5px;
		margin-top: em(160px);
	}

	@media (min-width: $from-medium) {
		font-size: 1rem;
	}

	&:nth-child(2) {
		@media (max-width: $to-small) {
			position: relative;
		}

		@media (max-width: $to-small) {
			top: 60px;
		}

		/* @media (min-width: $from-small) and (max-width: $to-medium) {
			top: 150px;
		} */
	}
}
