// ==========================================================================
// Layout
// ==========================================================================
.o-layout {
	@media (min-width: $from-small) {
		text-align: right;
		height: 100vh;
		overflow: hidden;
	}
}

.o-layout_header {
	background-color: $main-color;
	text-align: left;

	@media (max-width: $to-small) {
		padding: 0 30px;
	}

	@media (min-width: $from-small) {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 25%;
	}

	@media (min-width: $from-small) and (max-width: $to-huge) {
		padding: 0 3%;
	}

	@media (min-width: $from-huge) {
		padding: 0 4%;
	}

	&.-loco {
		background-color: #4D84F1;
		padding-right: 3%;
	}
}

.o-layout_main {
	display: inline-block;
	text-align: left;
	height: 100%;

	@media (min-width: $from-small) {
		width: 75%;
	}
}
