// ==========================================================================
// Button objects
// ==========================================================================

.o-button {
	border-radius: rem(53px);
	font-size: rem(16px);
	padding: 17px 30px;
	font-weight: $medium;
	transition: background-color $speed, color $speed;

	&.-arrow {
		position: relative;
		padding-left: rem(65px);
	}

	&.-white {
		background-color: $white;
		color: $main-color;

		&:hover {
			color: $main-color;
			background-color: darken($white, 5%);
		}
	}

	&.-header {
		border: 2px solid $white;
		padding: 11px 25px;
		font-size: rem(14px);

		&:hover {
			color: $main-color;
			background-color: $white;
		}
	}
}

// Arrow
// ==========================================================================
.o-button_arrow {
	position: absolute;
	top: 0;
	left: 0;
	margin: 8px;
	border-radius: 50%;
	background-color: $gray;
	width: rem(38px);
	height: rem(38px);
	font-size: 0;
	line-height: rem(38px);
	transition: background-color $speed;

	.o-button:hover & {
		background-color: darken($gray, 5%);
	}
}

.o-button_arrow_icon {
	width: rem(12px);
	height: rem(12px);
	fill: $main-color;
}
