// ==========================================================================
// Container
// ==========================================================================
.o-container {
	position: relative;

	max-width: rem($max-width) + (rem($padding) * 2);
	margin: 0 auto;
	padding-right: rem($padding);
	padding-left: rem($padding);

	&.-small {
		max-width: rem(1200px) + (rem($padding) * 2);
	}
}
