// ==========================================================================
// Section
// ==========================================================================
.o-section {
	&.-color {
		background-color: $main-color;
		color: $white;

		.o-layout_header.-loco & {
			background-color: transparent;
		}
	}

	&.-white {
		background-color: $white;
	}
}
