// ==========================================================================
// Base
// ==========================================================================
html {
	font-family: $font-family;
	line-height: $line-height;
	background-color: $gray;
	color: $color;

	@media (max-width: $to-small) {
		font-size: 12px;
	} 

	@media (min-width: $from-small) and (max-width: $to-huge) {
		font-size: 14px;
	}

	@media (min-width: $from-huge) {
		font-size: $font-size;
	}
}

::selection {
	background: $selection;
	text-shadow: none;
	color: $white;
}

main {

}

hr {
	display: block;

	height: 1px;
	margin: rem(10px) 0;
	padding: 0;

	border: 0;
	border-top: 1px solid $gray;
}

img, svg {
	max-width: 100%;
}

a {
	color: $link;
	text-decoration: none;

	&:hover {
		color: $link;
		text-decoration: underline;
	}
}

p {
	margin: rem(30px) 0;
}

strong {
	font-weight: $medium;
}

ul {
	padding-left: rem(22px);
}

li {
	color: $main-color;
}

.o-text {
	margin-bottom: rem(55px);
}

.o-watch {
	@media (max-width: $to-small) {
		display: none;
	}

	@media (min-width: $from-small) {
		position: absolute;
		right: em(550px);
		bottom: em(420px);
		width: em(239px);
		height: em(450px);
	}
}

.o-ipad {
	@media (max-width: $to-small) {
		display: none;
	}

	@media (min-width: $from-small) {
		position: absolute;
		right: 0;
		bottom: em(-260px);
		width: em(787px);
		height: em(612px);
	}
}

.o-iphone {
	position: absolute;
	width: em(397px);
	height: em(812px);

	@media (max-width: $to-small) {
		bottom: em(-112px);
		right: -30%;
	}

	@media (min-width: $from-small) {
		bottom: em(-112px);
		right: em(870px);
		
	}
}

.js-wow {
	visibility: hidden;
}


