// ==========================================================================
// Base
// ==========================================================================
html {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	background-color: $gray;
	color: $color;
}

::selection {
	background: $selection;
	text-shadow: none;
}

hr {
	display: block;

	height: 1px;
	margin: 1em 0;
	padding: 0;

	border: 0;
	border-top: 1px solid #cccccc;
}

img, svg {
	max-width: 100%;
}

a {
	color: $link;

	&:hover {
		color: $link-hover;
	}
}

.o-text {
	margin-bottom: rem(50px);
}

.o-watch {
	position: absolute;
	right: rem(550px);
	bottom: rem(420px);
}

.o-ipad {
	position: absolute;
	right: 0;
	bottom: rem(-260px);
}

.o-iphone {
	position: absolute;
	bottom: rem(-112px);
	right: rem(870px);
}


