// ==========================================================================
// Headings
// ==========================================================================
@mixin h {
	font-weight: $light;
}
%o-h {
	@include h;
}

h1, .h1 {
	@extend %o-h;
	font-size: $heading1;
	line-height: $heading-line-height;

	margin-top: 0;
}

h2, .h2 {
	font-size: $heading2;
	line-height: $heading-line-height;

	margin-top: 0;
}

h3, .h3 {
	font-size: $heading3;
	line-height: $heading-line-height;

	margin-top: 0;
}

h4, .h4 {
	font-size: $heading4;
	line-height: $heading-line-height;

	margin-top: 0;
}

h5, .h5 {
	font-size: $heading5;
	line-height: $heading-line-height;

	margin-top: 0;
}

h6, .h6 {
	font-size: $heading6;
	line-height: $heading-line-height;

	margin-top: 0;
}
