// ==========================================================================
// Headings
// ==========================================================================
@mixin h {
	font-weight: $light;
}
%o-h {
	@include h;

	&.-color {
		color: $main-color;
	}
}

.o-h_underline {
	position: relative;
	display: inline-block;

	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		border-bottom-color: $white;
		border-bottom-style: solid;
	}
}

h1, .o-h1 {
	@extend %o-h;
	font-size: rem($heading1);
	line-height: $heading-line-height;

	margin-top: 0;
	margin-bottom: rem(40px);

	.o-h_underline {
		border-bottom-width: 3px;
	}

	.o-layout_header.-loco & {
		font-weight: $normal;
	}
}

h2, .o-h2 {
	@extend %o-h;
	font-size: rem($heading2);
	line-height: $heading-line-height;

	margin-top: 0;

	.o-h_underline::after {
		border-bottom-width: 2px;
	}
}

h3, .o-h3 {
	font-size: rem($heading3);
	line-height: $heading-line-height;

	margin-top: 0;
}

h4, .o-h4 {
	font-size: rem($heading4);
	line-height: $heading-line-height;

	margin-top: 0;
}

h5, .o-h5 {
	font-size: rem($heading5);
	line-height: $heading-line-height;

	margin-top: 0;
}

h6, .o-h6 {
	font-size: rem($heading6);
	line-height: $heading-line-height;

	margin-top: 0;
}
