// ==========================================================================
// Clients
// ==========================================================================
.c-clients {
	@media (max-width: $to-small) {
		padding: 60px 0 40px 0;
	}

	@media (min-width: $from-small) and (max-width: $to-medium) {
		padding: rem(100px) 0;
	}

	@media (min-width: $from-medium) {
		padding: rem(120px) 0;
	}
}

.c-clients_list {
	@include list-reset;
	@include grid;

	@media (max-width: $to-small) {
		margin-left: -10px;
	}

	@media (min-width: $from-small) and (max-width: $to-medium) {
		text-align: center;
		margin-left: -15px;
	}
}

.c-clients_item {
	@include grid_item;
	vertical-align: middle;
	text-align: center;

	@media (max-width: $to-small) {
		width: span(1/3);
		margin-bottom: 20px;
		padding-left: 10px;
	}

	@media (min-width: $from-small) and (max-width: $to-medium) {
		padding-left: 15px;
	}

	@media (min-width: $from-small) {
		width: span(1/6);
	}
}

.c-clients_link {
	display: inline-block;
}

.c-clients_image {
	width: rem(178px);
	opacity: 0.5;
	transition: opacity $speed;

	.c-clients_link:hover & {
		opacity: 1;
	}
}
