// ==========================================================================
// About
// ==========================================================================
.c-about {
	@media (max-width: $to-small) {
		padding: 90px 0 73px 0;
	}

	@media (min-width: $from-small) and (max-width: $to-medium) {
		padding: rem(160px) 0;
	}

	@media (min-width: $from-medium) {
		padding: rem(200px) 0;
	}
}

.c-about_section {
	position: relative;

	@media (max-width: $to-small) {
		margin-bottom: 90px;
	}

	@media (min-width: $from-small) {
		margin-bottom: rem(200px);
	}

	&.-reverse {
		margin-bottom: 0;

		@media (min-width: $from-small) {
			text-align: right;
		}
	}
}

.c-about_text {
	@include grid_item;
	max-width: rem(490px);
	text-align: left;

	.c-about_section.-reverse & {
		width: rem(430px);
	}
}

.c-about_image {
	@media (max-width: $to-small) {
		font-size: 8px;
		margin-top: 30px;
	}

	@media (min-width: $from-small) and (max-width: $to-medium) {
		font-size: 9px;
	}

	@media (min-width: $from-medium) {
		font-size: 1rem;
	}
}

.c-about_iphone {
	width: em(781px);
	height: em(471px);

	@media (min-width: $from-small) {
		position: absolute;
		top: rem(110px);
		right: rem(-180px);
	}
}

.c-about_charcoal_iphone {
	position: absolute;
	width: em(237px);
	height: em(489px);

	@media (max-width: $to-small) {
		bottom: -100px;
		right: 0;
	}

	@media (min-width: $from-small) {
		top: em(270px);
	}

	@media (min-width: $from-small) and (max-width: $to-medium) {
		left: em(380px)
	}

	@media (min-width: $from-medium) {
		left: 50%;
		transform: translateX(-50%);
	}
}

.c-about_charcoal_macbook {
	width: em(889px);
	height: em(512px);

	@media (max-width: $to-small) {
		margin-top: 60px;
		margin-left: -38px;
	}

	@media (min-width: $from-small) {
		position: absolute;
		top: 0;
		left: rem(-210px);
	}
}
