// ==========================================================================
// Clients
// ==========================================================================
.c-clients {
	padding: rem(120px) 0;
}

.c-clients_list {
	@include list-reset;
	@include grid;
}

.c-clients_item {
	@include grid_item;
	width: span(1/6);
	vertical-align: middle;
}

.c-clients_link {
	display: inline-block;
}

.c-clients_image {
	width: rem(178px);
	height: rem(59px);
	opacity: 0.5;
	transition: opacity $speed;

	.c-clients_link:hover & {
		opacity: 1;
	}
}
