// ==========================================================================
// Footer
// ==========================================================================
.c-footer {
	text-align: center;
	padding: rem(65px) 0;
	font-size: rem(16px);
}

.c-footer_logo {
	display: inline-block;
	margin: 0 rem(50px);
}

.c-footer_logo_image {
	width: rem(100px);
	height: rem(46px);
	fill: $white;
}
