// ==========================================================================
// Footer
// ==========================================================================
.c-footer {
	text-align: center;
	font-size: rem(16px);

	@media (max-width: $to-small) {
		padding: 20px 0;
	}

	@media (min-width: $from-small) {
		padding: rem(65px) 0;
	}
}

.c-footer_logo {
	display: inline-block;
	margin: 0 rem(50px);
}

.c-footer_logo_image {
	width: rem(100px);
	height: rem(46px);
	fill: $white;
}

.c-footer_text {
	@media (max-width: $to-small) {
		margin: 15px 0;
	}

	@media (min-width: $from-small) {
		display: inline-block;
		margin: 0;
	}
}
