// ==========================================================================
// Home
// ==========================================================================
.c-home {
	background-color: $main-color;
	min-height: rem(960px);
	padding-top: rem(200px);
}

.c-home_content {
	width: rem(360px);
}
