// ==========================================================================
// Nav main
// ==========================================================================
.c-nav-main {
	display: inline-block;
	height: 100%;

	@media (max-width: $to-small) {
		display: none;
	}
}

.c-nav-main_list {
	@include list-reset;
	height: 100%;
	margin-right: rem(-30px);
}

.c-nav-main_item {
	display: inline-block;
	height: 100%;
}

.c-nav-main_link {
	display: block;
	color: $white;
	height: 100%;
	@include flex-center;
	text-decoration: none;
	padding: 0 rem(30px);

	&:hover {
		color: $white;
		text-decoration: none;
	}
}

.c-nav-main_title {
	position: relative;
	
	&::after {
		content: "";
		position: absolute;
		right: 0;
		bottom: rem(-5px);
		left: 0;
		border-bottom: 2px solid $white;
		transform: scaleX(0);
		transform-origin: center left;
		transition: transform $speed-slow;
	}

	.c-nav-main_link:hover & {
		&::after {
			transform: scaleX(1);	
		}
	}
}
