// ==========================================================================
// Quote
// ==========================================================================
.c-quote {
	text-align: center;

	@media (max-width: $to-small) {
		padding: 110px 0 90px 0;
	}

	@media (min-width: $from-small) and (max-width: $to-medium) {
		padding: rem(160px) 0;
	}

	@media (min-width: $from-medium) {
		padding: rem(180px) 0;
	}
}

.c-quote_content {
	display: inline-block;
	max-width: rem(680px);
	margin: 0;

	@media (max-width: $to-small) {
		br {
			display: none;
		}
	}
}

.c-quote_picture {
	display: inline-block;
	width: rem(206px);
	height: rem(206px);
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin-top: rem(30px);
}

.c-quote_author {
	font-size: rem(24px);
	line-height: 1.4;
	margin-bottom: rem(15px);
}

.c-quote_role {
	font-size: rem(14px);
	margin-top: 0;
	margin-bottom: rem(30px);
}

.c-quote_logo {
	fill: $white;
	width: rem(84px);
	height: rem(39px);
}
